---

---

<div id="gradientovervideo"></div>

<style is:global>
    .fadetransition {
        transition: all 2s ease-in-out;
    }
    .fadein {
        opacity: 1 !important;
    }
    .fadeout {
        opacity: 0 !important;
    }
    #gradientovervideo {
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(
            65deg,
            #000000ff,
            #00000000,
            #00000000,
            #00000000
        );
        /* background-color: #00000048; */
        z-index: -1;
    }
</style>

<script is:inline>
    
    let coversequencer;
    let highlightitemIndex = 0;
    const highlightitems = document.querySelectorAll(
        ".Coverhighlights-informationsheet",
    );
    const counthighlightitems = highlightitems.length;
    //alert( `.Coverhighlights-informationsheet-highlightitem[data-index="${highlightitemIndex}"]` )
    let curretnhighlightitem = d3.select(`.Coverhighlights-informationsheet-highlightitem[data-index="${highlightitemIndex}"]` );

    //let curretnhighlightitem2 = document.getElementsByClassName("Coverhighlights-informationsheet-highlightitem")[highlightitemIndex];
    //alert( curretnhighlightitem2.getAttribute("data-index") )
    //console.log(counthighlightitems);
    //d3.select('#videocover').style('opacity', 0)
    // const uisequencer = d3.scaleLinear([0, 8000], [0, 100])
    let videoEle =
        document.getElementsByClassName("videocover")[highlightitemIndex];
    videoEle.play();
    videoEle.style.setProperty("opacity", "1.0");
    // document.getElementsByClassName('videocover')[highlightitemIndex].play()

    //alert( `.videocover:nth-child(${highlightitemIndex + 1})` )
    //d3.select(`.videocover:nth-child(${highlightitemIndex + 1})`).attr('loop', true).transition().duration(600).style("opacity", 1);
    curretnhighlightitem
        .select(".highlightitem-cursor")
        .transition()
        .duration(150)
        .style("left", "0%");
    curretnhighlightitem
        .select(".highlightitem-cursor")
        .transition()
        .ease(d3.easeLinear)
        .delay(200)
        .duration(7800)
        .style("left", "97%");

    //    let videocover = document.getElementById('videocover')
    //    videocover.style.opacity = 1.0
    // let intervalhighlight = d3.interval((milli) => {
    //     // console.log( uisequencer(milli) );
    //     d3.select('.highlightitem--active').select('.highlightitem-cursor').style('left', `${uisequencer(milli)}%`)
    // }, 33);
    function startSequencer() {
        coversequencer = setInterval(() => {
            console.log(`.videocover:nth-child(${highlightitemIndex + 1})`);
            // d3.selectAll(`.videocover`)

            videoEle =
                document.getElementsByClassName("videocover")[
                    highlightitemIndex
                ];
            videoEle.pause();
            videoEle.style.setProperty("opacity", "0.0");

            // d3.select(`.videocover:nth-child(${highlightitemIndex + 1})`)
            //     .transition()
            //     .duration(600)
            //     .style("opacity", 0)
            //     .on('end', () => {
            //         alert('video')
            //     });

            highlightitemIndex = (highlightitemIndex + 1) % counthighlightitems;

            videoEle =
                document.getElementsByClassName("videocover")[
                    highlightitemIndex
                ];
            videoEle.play();
            videoEle.style.setProperty("opacity", "1.0");

            // d3.timeout(() => {
            //     d3.select(`.videocover:nth-child(${highlightitemIndex + 1})`)
            //         .transition()
            //         .duration(600)
            //         .style("opacity", 1);
            // }, 1300);
            curretnhighlightitem = d3.select(`.Coverhighlights-informationsheet-highlightitem[data-index="${highlightitemIndex}"]` );
            // curretnhighlightitem = d3.select(
            //     `.Coverhighlights-informationsheet-highlightitem:nth-child(${
            //         highlightitemIndex + 1
            //     })`,
            // );
            d3.selectAll(".highlightitem-cursor")
                .transition()
                .duration(150)
                .style("left", "0%");
            curretnhighlightitem
                .select(".highlightitem-cursor")
                .transition()
                .delay(200)
                .ease(d3.easeLinear)
                .duration(7800)
                .style("left", "97%");

            //console.log(`${highlightitemIndex * -700}px`);
            d3.select(".Coverhighlights")
                .transition()
                .duration(600)
                .style("left", `${highlightitemIndex * -700}px`);
            // videocover.style.opacity = 0.0
        }, 8000);
    }

    function pauseSequencer(e) {
        // curretnhighlightitem = d3.select(
        //     `.Coverhighlights-informationsheet-highlightitem:nth-child(${
        //         highlightitemIndex + 1
        //     })`,
        // );
        // curretnhighlightitem = d3.select(`.Coverhighlights-informationsheet-highlightitem[data-index="${highlightitemIndex}"]` );

        videoEle = document.getElementsByClassName("videocover")[highlightitemIndex];
        videoEle.pause();
        videoEle.style.setProperty("opacity", "0.0");
        //alert( `.videocover:nth-child(${highlightitemIndex + 1})` )
        //startSequencer();
        // d3.selectAll(`.videocover`)
        //     .transition()
        //     .duration(600)
        //     .style("opacity", 0);

        highlightitemIndex = parseInt(e.getAttribute("data-index"));
        curretnhighlightitem = d3.select(`.Coverhighlights-informationsheet-highlightitem[data-index="${highlightitemIndex}"]` );
        clearInterval(coversequencer);
        //alert( `.videocover:nth-child(${highlightitemIndex + 1})` )
        // d3.timeout(() => {
        //     d3.select(`.videocover:nth-child(${highlightitemIndex + 1})`)
        //         .transition()
        //         .duration(600)
        //         .style("opacity", 1);
        // }, 1300);

        videoEle = document.getElementsByClassName("videocover")[highlightitemIndex];
        videoEle.play();
        videoEle.style.setProperty("opacity", "1.0");

        d3.selectAll(".highlightitem-cursor")
            .transition()
            .duration(150)
            .style("left", "0%");

        curretnhighlightitem
            .select(".highlightitem-cursor")
            .transition()
            .ease(d3.easeLinear)
            .delay(200)
            .duration(7800)
            .style("left", "97%");

        d3.select(".Coverhighlights")
            .transition()
            .duration(600)
            .style("left", `${highlightitemIndex * -700}px`);

        startSequencer();
    }

    startSequencer();

    // d3.selectAll(".Coverhighlights-informationsheet-highlightitem").on(
    //     "click",
    //     function () {
    //         highlightitemIndex = select(this).attr('data-index');
    //         alert( highlightitemIndex)
    //         pauseSequencer();
    //     }
    // );
</script>
